body 
{
	margin: 0px;
	-webkit-user-select: none;
}


/* Styles the "Card Flip" page and creates a placeholder for the card */
#container
{
	/* Set these dimensions so the card can be properly displayed in Safari on iPhone */
	height: 1000px;
	width: 100%;
	background-color: rgba(0,0,0,0);
	
	/* Disable tap highlighting */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	/* Give some depth to the card */
	-webkit-perspective: 1000; 
	perspective: 1000;
	
}

/* Applies 3D transform and transition effects to the card. The card has two states: regular and flipped.
   A card is in a regular state when there is an empty transform applied to it, and otherwise in a flipped
   state, where there is a rotational transformation applied. This class is used when the card is in the regular state.
   The "card flipped" class is used when the card is in the flipped state. 
*/
.card 
{
	position: relative;
	height: 300px;
	width: 200px;
	left: 50%;
	top: 100px;
	margin-left: -300px;
	float: left;
	margin-right: 500px;
	box-shadow: 0px 0px 20px 5px rgba(128,128,128,0.3);
	border-radius: 10px;
	
	/* Ensure that the card lives correctly in 3D space */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	/* We apply this property to the card so it can smoothly flip between its sides */
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	
	/* Make the animation occur over a period of 1.5 seconds */
	-webkit-transition-duration: 3s;
	transition-duration: 3s;
}


/* Applies the flip animation to the card */
.card.flipped
{

	/* Rotate the card 180 degrees along the y-axis. This animation allows the card to
	  toggle between its regular and flipped states. */
	-webkit-transform: rotateX(900deg);
	transform: rotateX(900deg);
}


.cardbackimage
{
	border-radius: 1px;
	width:200px;
	height:300px;
}

/* Styles the card and hides its "back side" when the card is flipped */
.face 
{
	position: absolute;
	height: 300px;
	width: 200px;
	/* Give a round layout to the card */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	/* Drop shadow around the card */
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
	/* Make sure that users will not be able to select anything on the card */
	
	/* We create the card by stacking two div elements at the exact same location. The back of the card 
	   is shown when we rotated the card 180 degrees along the y-axis. Setting this property to hidden
	   ensures that the "back side" is hidden when the card is flipped
	*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Styles the suit characters */
.face > p 
{
	margin-top: 36px;
	margin-bottom: 0;
	text-align: center;
	font-size: 92px;
}


/* Styles the front of the card */
.front 
{
	/* Set the color of the suit characters on the card */
	color: rgb(78,150,249);
	/* Background color of this side of the card */
	background-color: rgb(34,65,108);
}


/* Styles the back of the card */
.back 
{
	color: rgb(34,65,108);
	background-color: rgba(78,150,249,0.5);
	
	/* Ensure the "back side" is flipped already */
	-webkit-transform: rotateX(900deg);
	transform: rotateX(900deg);
}