		body
		{
			background-color: #ffffff;
		}
		a:link {
			text-decoration: none;
			color: inherit;
		}
		a:visited {
			text-decoration: none;
			color: inherit;
		}
		a:active {
			text-decoration: none;
			color: inherit;
		}
		a:hover {
			text-decoration: none;
			color: inherit;
		}
		.HeaderTitle
		{
			background-color: #E8E6E6;
			height: 140px;
		}
		#TitleText
		{
			font-size: 60px;
			margin: 0px;
			padding-top: 20px;
			text-align: center;
			color: #C7C7C7!important;
			font-family: 'Quicksand', sans-serif!important;
			font-weight:100!important;
		}
		#TitleText:hover
		{
			color: black!important;
		}
		#TitleDesc
		{
			font-size: 15px;
			margin: 0px;
			padding-top: 20px;
			text-align: center;
			color: #C7C7C7!important;
			font-family: 'Quicksand', sans-serif!important;
			font-weight:100!important;
		}
		#TitleDesc:hover
		{
			color: black!important;
		}
		#WebSection
		{
			background-color: #000000;
		}
		#GraphicSection
		{
			background-color: #E8E6E6;
		}
		.CenteredBlock
		{
			margin: auto;
			width: 75%;
		}
		.SectionTitle
		{
			color: white;
			font-family: 'Quicksand', sans-serif;
			font-weight: bold;
			font-size:45px;
			margin: 0px;
			padding-top: 30px;
			padding-bottom: 15px;
		}
		.GSectionTitle
		{
			color: black;
			font-family: 'Quicksand', sans-serif;
			font-weight: bold;
			font-size:45px;
			margin: 0px;
			padding-top: 30px;
			padding-bottom: 15px;
		}
		.HighlightLine
		{
			width: 42px;
			border: 2px solid;
			border-radius: 3px;
			position:inherit;
			height: 0px;
			color: white;
		}
		.GHighlightLine
		{
			width: 42px;
			border: 2px solid;
			border-radius: 3px;
			position:inherit;
			height: 0px;
			color: black;
		}
		.PageTitleImage
		{
			width: 25%;
			margin-top: 75px;
			margin-bottom: 35px;
		}
		.PageText
		{
			font-family: 'Quicksand', sans-serif;
			font-size: 20px
		}
		.ItemsSection
		{
			margin-top: 50px;
			height: 200px;
		}
		.ListOfItems
		{
			height: 100px;
		}
		.Item
		{
			width: 33%;
			float: left;
		}
		.GItem
		{
			width: 20%;
			float: left;
		}
		.ItemLogo
		{
			height: 50px;
		}
		.ItemImage
		{
			display: block;
			max-width: 70%;
			max-height: 50px;
			margin: auto;
			float: none;
			transition: transform .5s;
		}
		.ItemImage:hover
		{
			transform: scale(1.05);
		}
		.GItemImage
		{
			display: block;
			max-width: 90%;
			max-height: 50px;
			margin: auto;
			float: none;
			transition: transform .5s;
		}
		.GItemImage:hover
		{
			transform: scale(1.05);
		}
		.dateofitem
		{
			margin: 0 auto;
			margin-top: 10px;
			position: relative;
			width: 50%;
			height: auto;
			color: white;
			text-align: center;
			font-family: 'Quicksand', sans-serif;
		}
		.Gdateofitem
		{
			margin: 0 auto;
			margin-top: 10px;
			position: relative;
			width: 50%;
			height: auto;
			color: black;
			text-align: center;
			font-family: 'Quicksand', sans-serif;
		}
		.ItemTitle
		{
			margin: 0 auto;
			margin-top: 10px;
			position: relative;
			height: auto;
			color: black;
			text-align: center;
			font-family: 'Quicksand', sans-serif;
			font-weight: 700;
		}
		.ItemText
		{
			margin: 0 auto;
			margin-top: 10px;
			position: relative;
			height: auto;
			color: black;
			text-align: center;
			font-family: 'Quicksand', sans-serif;
		}
		.ShowcaseSection
		{
			background-color: #E8E6E6;
			padding-top: 60px;
			padding-bottom: 100px;
		}
		.ShowcaseText
		{
			margin: auto;
			width: 30%;
			font-family: 'Quicksand', sans-serif;
			text-align: center;
			margin-top: 0px;
			margin-bottom: 40px;
		}
		.ShowcaseImage
		{
			width: 75%;
			display: block;
			margin: auto;
			box-shadow: 5px 5px 100px 6px rgba(0,0,0,0.5);
			transition: transform .5s;
		}
		.ShowcaseImage:hover
		{
			transform: scale(1.05)
		}
		.FooterSection
		{
			background-color: #ffffff;
		}
		.FooterText
		{
			padding: 20px;
			margin: 0px;
			font-family: 'Quicksand', sans-serif;
			text-align: center;
		}