/* Kireeti Varma Dendukuri */
/* Final Project: Portfolio */

/* Central CSS file used by all the pages. */

body /* Setting tha background colour of the pages */
{
	background-color: #ffffff;
}
/* Removing decoration for the links */
a:link { 
	text-decoration: none;
	color: inherit;
}
a:visited {
	text-decoration: none;
	color: inherit;
}
a:active {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
.HeaderTitle /* Title section */
{
	background-color: #ffffff;
	height: 70px;
}
#TitleText  /* Title Style */
{
	font-size: 20px;
	margin-left: 10%;
	padding-top: 20px;
	color: #000000!important; /* Insisted this to be important as the style was ignored due to the link */
	font-family: 'Quicksand', sans-serif!important; /* Insisted this to be important as the style was ignored due to the link */
	font-weight:700!important; /* Insisted this to be important as the style was ignored due to the link */
	float: left;
}
#TitleText:hover /* Title style as hovered upon */
{
	color: #44C4CD !important;
}
ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.MI 
{
	display: inline;
	float: left;
}
#MenuItem
{
	float: right;
	margin-right: 10%;
	padding-top: 20px;
}
.MenuItem
{
	display: block;
    margin: 10px;
	padding: 15px;
	font-size: 12px;
	font-family: 'Quicksand', sans-serif!important; /* Insisted this to be important as the style was ignored due to the link */
	font-weight:100!important; /* Insisted this to be important as the style was ignored due to the link */ 
}
.MenuItem:hover
{
	background-color: #44C4CD;
	color: white;
}
.Active 
{
    color: #44C4CD!important;
	background-color: white!important;
}
.Section
{
	width: 80%;
	margin-left: 10%;
	padding: 100px 0px 100px 0px;
	clear: left;
}
.HomeSection1
{
	clear: left;
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 100px auto 100px auto !important;
	display: table;
	width:100%;
}
#HS1LeftSegment
{
	width: 60%;
	float: left;
	height: 310px;
	display: block;
}
#HS1LSHeader
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 40px;
	margin: 20px 0px 20px 0px;
}
#HS1LSDescription
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 19px;
	text-align: justify;
	width: 90%;
}
.UniversalBtn
{
	width: auto;
	height: 50px;
	border: 1px solid;
	border-color: #000000;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 18px;
	padding: 15px;
	transition: all .25s ease-in-out;
}
.UniversalBtn:hover
{
	color: white;
	background-color: black;
}
#HS1LS_btn
{
	margin-top: 50px!important;
}
#HS1RigthSegment
{
	width: 40%;
	float: left;
}
.UniversalImage
{
	border-radius: 10px;
	transition: all .75s ease-in-out;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}
.UniversalImage:hover
{
	box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.2);
	transform: scale(1.1)
}
#HS1RSImage
{
	width: 100%;
	height: auto;
	min-width: 300px;
	float: left;
}
.HomeSection2
{
	clear: left;
	padding: 400px auto 100px auto!important;
	margin: 200px auto 100px auto !important;
}
#HS2Segment
{
	width: 60%;
	margin: auto;
	margin-top: 100px;
}
#HS2SDescription
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 24px;
	text-align: justify;
}
#HS2S_btn
{
	margin: auto;
	display: block;
	width: 30%;
	text-align: center;
	height: 20px;
}
.HomeSection3
{
	clear: left;
	padding: 200px auto 400px auto !important;
	margin-bottom: 200px;
}
#HS3Segment
{
	width: 60%;
	margin: auto;
}
#HS3SDescription
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 24px;
	align-content: center;
	text-align: justify;
	display: block;
	width: 85%;
	margin: 20px auto 20px auto;
}
#HS3S_btn
{
	margin: auto;
	display: block;
	width: 30%;
	text-align: center;
	height: 20px;
}
#F_Segment1
{
	width: 50%;
	margin-left: 15%;
	float: left;
}
.F_Section
{
	padding-bottom: 100px;
	margin: 100px 0px 100px 0px;
	width: 100%;
}
#F_S1_Title
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
	color: rgba(0,0,0,0.3);
}
#F_S1_Tagline
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 20px;
	margin: 0px;
	color: rgba(0,0,0,0.3);
}
#F_Segment2
{
	width: 15%;
	float:left;
	margin-top: 20px;
}
#F_Segment3
{
	width: 15%;
	float:left;
	margin-top: 20px;
}
.FSLink
{
	display: block;
    margin: 0px;
	padding: 5px;
	font-size: 12px;
	font-family: 'Quicksand', sans-serif!important;
	font-weight:100!important;
}
.FSLink:hover
{
	color: #44C4CD;
}


/* About Page */
#AboutSegment
{
	width: 80%;
	margin: auto;
	padding-bottom: 50px;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
}
#ASTitleRow
{
	width: 25%;
	height: 50px;
	margin: 50px auto auto auto;
}
#AboutTitle
{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif!important;
	font-weight: 700!important;
	text-align: center;
}
#ASDescriptionRow
{
	width: 80%;
	margin: auto;
}
.AboutDescription
{
	margin: 50px;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif!important;
	font-weight: 400!important;
	text-align: justify
}
.AboutSeperator
{
	width: 10%;
	margin: auto;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif!important;
	font-weight: 700!important;
	text-align: center;
}




/* Page 5 */
#WebSection /* Setting background for section */
{
	background-color: #000000;
}
#GraphicSection /* Setting background for section */
{
	background-color: #E8E6E6;
}
.CenteredBlock /* Making all elements centered along with a defined space to place all of them */
{
	margin: auto;
	width: 75%;
}
.SectionTitle /* Section title style */
{
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size:45px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 15px;
}
.GSectionTitle /* Second section title style */
{
	color: black;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size:45px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 15px;
}
.HighlightLine /* Seperator line */
{
	width: 42px;
	border: 2px solid;
	border-radius: 3px;
	position:inherit;
	height: 0px;
	color: white;
}
.GHighlightLine /* Seperator line */
{
	width: 42px;
	border: 2px solid;
	border-radius: 3px;
	position:inherit;
	height: 0px;
	color: black;
}
.PageTitleImage /* Title Image of the Portfolio page */
{
	width: 25%;
	margin-top: 75px;
	margin-bottom: 35px;
}
.PageText /* Text style */
{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px
}
.ItemsSection /* Defining section height to maintain gap between next section */
{
	margin-top: 50px;
	height: 200px;
}
.ListOfItems /* Defining usable area */
{
	height: 100px;
}
.Item /* Defining item width and placcement */
{
	width: 33%;
	float: left;
}
.GItem  /* Defining item and placement for graphic section */
{
	width: 20%;
	float: left;
}
.ItemLogo /* Portfolio Item height */
{
	height: 50px;
}
.ItemImage /* Portfolio Image style */
{
	display: block;
	max-width: 70%;
	max-height: 50px;
	margin: auto;
	float: none;
	transition: transform .5s; /* Transition, period */
}
.ItemImage:hover /* Portfolio image hover transformation */
{
	transform: scale(1.05);
}
.GItemImage /* Portfolio Image style */
{
	display: block;
	max-width: 90%;
	max-height: 50px;
	margin: auto;
	float: none;
	transition: transform .5s;
}
.GItemImage:hover /* Portfolio image hover transformation */
{
	transform: scale(1.05);
}
.dateofitem /* Date of Item style */
{
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	width: 50%;
	height: auto;
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.Gdateofitem /* Style for date at Graphic Section */
{
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	width: 50%;
	height: auto;
	color: black;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.ItemTitle /* Title of list at portfolio page */
{
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	height: auto;
	color: black;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}
.ItemText /* Text of list at portfolio page */
{
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	height: auto;
	color: black;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.ShowcaseSection /* Defining Section Style */
{
	background-color: #E8E6E6;
	padding-top: 60px;
	padding-bottom: 100px;
}
.ShowcaseText /* Styling Text inside showcase section */
{
	margin: auto;
	width: 30%;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}
.ShowcaseImage /* Styling Image inside showcase section */
{
	width: 75%;
	display: block;
	margin: auto;
	box-shadow: 5px 5px 100px 6px rgba(0,0,0,0.5);
	transition: transform .5s;
}
.ShowcaseImage:hover /* Styling hover for image */
{
	transform: scale(1.05)
}
.FooterSection /* Footer section */
{
	background-color: #ffffff;
}
.FooterText /* Footer text style */
{
	padding: 20px;
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}