@charset "UTF-8";
/* CSS Document */

.ui-checkboxradio-checked
{
	width: 15px;
	background-color: aqua solid;
}
label
{
	width: 25px;
	height: 10px;
	color: black solid;
}
#opener
{
	width: 50px;
	height: 10px;
}

